.install {
  width: 60vw;
  margin: 200px auto 50px auto;
}
.download {
  margin: 100px 0 20px 0;

  &__icon {
    display: inline-block;
    text-decoration: none;
    color: $color-grey-dark-2;
    font-size: 3rem;
    margin-left: 20px;

    &:hover {
      color: #00acee;
    }
  }
}
