.install {
  width: 60vw;
  margin: 20rem auto 5rem auto;
}
.download {
  margin: 10rem 0 2rem 0;

  &__icon {
    display: inline-block;
    color: $color-grey-dark-2;
    font-size: 1.6rem;

    &:hover {
      color: #00acee;
    }
  }
}
